<ion-view>
  <ion-nav-title>
    <h1 class="title">
      <img class="title-image" />
    </h1>
  </ion-nav-title>
  <ion-nav-buttons side="left">
  	<button class="button button-clear" ng-click="goBack()">
      <img src="img/left-btn.png" style="width: 30px" />
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="row" style="padding: 0px">
      <div class="col col-50" style="background: url(img/image02.png) no-repeat; height: 235px; background-size: auto 235px; box-shadow: inset grey 1px 1px 7px 3px;">
        <div style="text-align:right; position:relative;">
          <img src="img/group-tag.png" style="width:70px;position:absolute;right:0;" />
        </div>
      </div>
      <div class="col col-50" style="padding: 0px">
        <div class="row" style="padding: 0px; text-align: center">
          <div class="col" style="border-top: 1px solid #efefef;border-bottom: 1px solid #efefef;">Choose a Category <i class="icon ion-ios-information-outline"></i></div>
        </div>
        <div class="row" style="padding: 0px; margin-top: 5px; border-bottom: 1px solid #6f6f6f;">
          <div class="col col-75" style="padding-bottom: 0;">
            <input type="text" placeholder="Add A Category..."/>
          </div>
          <div class="col col-25" style="padding-bottom: 0;">
            <img src="img/send-message-btn.png" style="width: 35px; margin-top: 10px;" />
          </div>
        </div>
        <div class="row text-center">
          <div class="col">or, choose one of yours</div>
        </div>
        <div class="row text-center">
          <div class="col" style="background-color: #cc2262; border-radius: 5px; margin-left: 25px; margin-right: 25px; color: white; margin-bottom: 5px;">Party</div>
        </div>
        <div class="row text-center">
          <div class="col" style="background-color: #b4ac47; border-radius: 5px; margin-left: 25px; margin-right: 25px; color: white; margin-bottom: 5px;">Evening</div>
        </div>
        <div class="row text-center">
          <div class="col" style="background-color: #efbf25; border-radius: 5px; margin-left: 25px; margin-right: 25px; color: white; margin-bottom: 5px;">Beach</div>
        </div>
        <div class="row text-center">
          <div class="col" style="background-color: #2e74d4; border-radius: 5px; margin-left: 25px; margin-right: 25px; color: white; margin-bottom: 5px;">Travelling</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">headline</div>
    </div>
    <div class="row" style="padding-bottom: 0px; border-bottom: 1px solid #efefef;">
      <div class="col" style="padding-bottom: 0px;">
        <input type="text" placeholder="Max 35 characters..." style="width: 100%;"/>
      </div>
    </div>
    <div class="row" style="margin-top: 5px;">
      <div class="col">description</div>
    </div>
		<div class="row" style="padding-bottom: 0px; border-bottom: 1px solid #efefef;">
      <div class="col" style="padding-bottom: 0px;">
        <input type="text" placeholder="Whatever you wanna say..." style="width: 100%;"/>
      </div>
    </div>
		<div class="row" style="margin-top: 5px;">
      <div class="col col-25">Location&nbsp;<i class="icon ion-location" style="font-size: 20px"></i></div>
      <div class="col col-50" style="border-bottom: 1px solid #5f5f5f;"><input type="text"/></div>
      <div class="col col-25"></div>
    </div>
    <div class="row text-center">
      <div class="col" style="color: #5b5b5b">Search&nbsp;<span><i class="icon ion-search"></i></span></div>
    </div>
    <div class="row">
      <div style="font-size: 10px; background-color: #252525; color: white; font-weight: bold; border-radius: 7px;padding: 0px 5px 0px 5px; margin-right: 5px;">New York, Time square</div>
      <div style="font-size: 10px; background-color: #252525; color: white; font-weight: bold; border-radius: 7px;padding: 0px 5px 0px 5px; margin-right: 5px;">Hollywood Blv.</div>
      <div style="font-size: 10px; background-color: #252525; color: white; font-weight: bold; border-radius: 7px;padding: 0px 5px 0px 5px; margin-right: 5px;">Tokyo, Japan</div>
    </div>
    <div class="row text-center" style="margin-top: 10px;">
      <div class="col" style="color: #5b5b5b">Share</div>
    </div>
    <div class="row">
      <div class="col col-20"><img src="img/facebook.png" style="width: 50px;" /></div>
      <div class="col col-20"><img src="img/google.png" style="width: 50px;" /></div>
      <div class="col col-20"><img src="img/twitter.png" style="width: 50px;" /></div>
      <div class="col col-20"><img src="img/pinterest.png" style="width: 50px;" /></div>
      <div class="col col-20"><img src="img/snapchat.png" style="width: 50px;" /></div>
    </div>
    <div class="row text-center">
      <div class="col"><button class="button" style="background-color: #2c2c2c; color: white; min-height: 25px;   line-height: 0px;">Post</button></div>
    </div>
  </ion-content>
</ion-view>