<ion-view class="secret-page" title="secret" cache-view="false">
	<ion-nav-buttons side="left">
		<button class="button button-clear" ng-click="goBack()">
			<img src="img/left-btn.png" style="width: 30px" />
		</button>
	</ion-nav-buttons>
	<ion-content>
		<div class="row text-center">
			<div class="col" style="background: url(img/secret-bg.png) no-repeat; background-size: auto 370px;  background-position: center; height: 370px;">
				<div class="headline">Secret Headline</div>
				<div style="font-size: 11px; color: #8a7225">(for example my first kiss, who I had a dream last night etc...)</div>
				<div class="row" style="padding: 0px">
					<div class="col">
						<input type="text" placeholder="write headline..." />
					</div>
				</div>
				<div class="answer">answer</div>
				<div class="row" style="padding: 0px">
					<div class="col">
						<input type="text" placeholder="write answer..." />
					</div>
				</div>
				<div class="related-quote">related quote</div>
				<div style="font-size: 10px">(related to the event)</div>
				<div class="row" style="padding: 0px">
					<div class="col">
						<input type="text" placeholder="write related quote..." />
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="border-top: 1px solid #dbdbdb; margin-top: 0px;">
			<div class="col col-75">
				<img src="img/chat-gallery.png" style="height: 50px; vertical-align: middle; position: absolute; z-index: 1" />
				<span style="background-color: #cfb058; color: white; padding: 5px 15px; border-radius: 5px;top: 20px; position: relative; left: 43px;">related pic</span>
				<span style="background-color: #3598d7; color: white; padding: 5px 15px; border-radius: 5px;position: relative; top: 20px; left: 35px; z-index: -1; padding: 5px 32px;">Upload</span>
			</div>
			<div class="col col-25 text-center">
				<img src="img/user-avatar01.png" style="height: 45px; vertical-align: middle;" />
			</div>
		</div>
		<div class="row">
			<div class="col col-75">
				<span style="font-size: 18px; font-weight: bold; color: #1f1f1f;">reveal answer</span>
				<span style="font-size: 18px; font-weight: bold; color: #d6ac67;">after getting</span>
			</div>
			<div class="col col-25 text-center">
				<span style="font-size: 20px; font-weight: bold; border: 1px solid #a3a3a3; padding: 1px 15px;  border-radius: 6px; color: #2f2f2f">20</span>
			</div>
		</div>
		<div class="row">
			<div class="col col-75">
				<span style="font-size: 12px">*the min amount of likes is 5% of your number of fans</span>
			</div>
			<div class="col col-25 text-center">
				<span style="background-color: #d0ab66; color: white; padding: 5px 10px; border-radius: 6px;">Likes</span>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<button class="button" style="width: 100%; background-color: #d6cc87; color: white; font-weight: bold; text-shadow: grey 2px 0px 1px; min-height: 20px; height: 35px; line-height: 0px;">Publish</button>
			</div>
		</div>
	</ion-content>
</ion-view>