<ion-view>
  <ion-nav-title>
    <h1 class="title">
      <img class="title-image" />
    </h1>
  </ion-nav-title>
  <ion-nav-buttons side="left">
		<button class="button button-clear" ng-click="goBack()">
			<img src="img/left-btn.png" style="width: 30px" />
		</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
		<img src="img/suga-tag.png" style="height:18px; margin-top:12px; margin-right:5px;" />
  	<button class="button button-dark btn-next" ng-click="onClickNext()">Next</button>
  </ion-nav-buttons>
	<div class="bar bar-subheader" style="height: auto; padding: 0px">
		<div class="row" style="padding: 0px">
			<div style="background: url(img/image02.png) no-repeat;
															height: 390px;
															background-size: auto 390px;
															width: calc(100% - 90px);
															padding: 0px;">
				<div style="width: 50px; background-color: white; opacity: 0.5; text-align: center">
					<div style="font-size: 9px; background-color: #a1a678; border-radius: 3px; color: white; margin-bottom: 5px">Preview</div>
					<img src="img/brightness.png" style="width: 40px" />
					<div style="font-size: 7px;">BRIGHTNESS</div>
					<img src="img/contrast.png"/>
					<div style="font-size: 7px;">CONTRAST</div>
					<img src="img/stranghten.png" style="width: 40px" />
					<div style="font-size: 7px;">STRANGHTEN</div>
					<img src="img/aturatio.png" style="width: 40px"/>
					<div style="font-size: 7px;">ATURATIO</div>
					<img src="img/sharpen.png" style="width: 40px"/>
					<div style="font-size: 7px;">SHARPEN</div>
					<img src="img/highlights.png" style="width: 40px"/>
					<div style="font-size: 7px;">HIGHLIGHTS</div>
				</div>
			</div>
			<div style="padding:0px; width:90px; position:absolute; right: 0;">
				<div class="row text-center" style="background-color: #31312f; display: block; color: white; font-weight: bold;"><span>Bark</span>
				</div>
				<div class="row text-center" style="background: url(img/image02.png) no-repeat;background-size: auto 80px; height: 80px">
				</div>
				<div class="row text-center" style="background-color: #4d493c; display: block; color: white; font-weight: bold;"><span>Purple</span>
				</div>
				<div class="row text-center" style="background: url(img/image02.png) no-repeat;background-size: auto 80px; height: 80px; filter: saturate(6);">
				</div>
				<div class="row text-center" style="background-color: #797876; display: block; color: white; font-weight: bold;"><span>smootness</span>
				</div>
				<div class="row text-center" style="background: url(img/image02.png) no-repeat;background-size: auto 80px; height: 80px; filter: brightness(2);">
				</div>
				<div class="row text-center" style="background-color: #829098; display: block; color: white; font-weight: bold;"><span>casablanca</span>
				</div>
				<div class="row text-center" style="background: url(img/image02.png) no-repeat;background-size: auto 80px; height: 80px; filter: saturate(0);">
				</div>
			</div>
		</div>
	</div>
	<ion-content class="bar-subheader" style="margin-top: 390px; height: auto; padding: 0px">
		<div class="row" style="margin-top: 0px; height: 125px; padding: 0px">
			<div class="col col-25" style="background: url(img/image02.png); background-repeat: no-repeat; background-size: auto 125px;">
			</div>
			<div class="col col-25" style="background: url(img/image02.png); background-repeat: no-repeat; background-size: auto 125px;">
			</div>
			<div class="col col-25" style="background: url(img/image02.png); background-repeat: no-repeat; background-size: auto 125px;">
			</div>
			<div class="col col-25" style="background: url(img/image02.png); background-repeat: no-repeat; background-size: auto 125px;">
			</div>
		</div>
		<div class="row" style="margin-top: 0px; height: 125px; padding: 0px">
			<div class="col col-25" style="background: url(img/image02.png); background-repeat: no-repeat; background-size: auto 125px;">
			</div>
			<div class="col col-25" style="background: url(img/image02.png); background-repeat: no-repeat; background-size: auto 125px;">
			</div>
			<div class="col col-25" style="background: url(img/image02.png); background-repeat: no-repeat; background-size: auto 125px;">
			</div>
			<div class="col col-25" style="background: url(img/image02.png); background-repeat: no-repeat; background-size: auto 125px;">
			</div>
		</div>
		<div class="row" style="margin-top: 0px; height: 125px; padding: 0px">
			<div class="col col-25" style="background: url(img/image02.png); background-repeat: no-repeat; background-size: auto 125px;">
			</div>
			<div class="col col-25" style="background: url(img/image02.png); background-repeat: no-repeat; background-size: auto 125px;">
			</div>
			<div class="col col-25" style="background: url(img/image02.png); background-repeat: no-repeat; background-size: auto 125px;">
			</div>
			<div class="col col-25" style="background: url(img/image02.png); background-repeat: no-repeat; background-size: auto 125px;">
			</div>
		</div>
		</ion-content>
</ion-view>