<ion-view title="Upload" cache-view="false" hide-nav-bar="true">
	<ion-content>
		<!-- Pic Upload -->
		<div class="row text-center" style="margin-top:10px;">
			<div class="col">
				<span>Choose What would you like to Upload</span>
			</div>
		</div>
		<div class="row text-center">
			<div class="col" style="position: absolute;">
				<a class="icon" href="#/tab/picupload">
					<img src="img/camtitle.png"/>
				</a>
			</div>
		</div>
		<div class="row text-center">
			<div class="col">
				<a class="icon" href="#/tab/picupload">
					<img src="img/camera.png"/>
				</a>
			</div>
		</div><!-- /Pic Upload -->
		<!-- Sugapic -->
		<div class="row text-center" style="margin-top:20px;">
			<div class="col">
				<a class="icon" href="#/tab/sugaupload">
					<img src="img/sugapictitle.png"/>
				</a>
			</div>
		</div>
		<div class="row text-center" style="margin-top:-20px;">
			<div class="col">
				<span>(you can upload sugapic every 3 pics uploads)</span>
			</div>
		</div>
		<div class="row text-center">
			<div class="col">
				<a href="#/tab/sugaupload">
					<img src="img/sugapic.png"/>
				</a>
			</div>
		</div><!-- /Sugapic -->
		<!-- Secret -->
		<div class="row text-center" style="margin-top:20px;">
			<div class="col">
				<a class="icon" href="#/tab/secret">
					<img src="img/albumtitle.png"/>
				</a>
			</div>
		</div>
		<div class="row text-center" style="margin-top:-20px;">
			<div class="col">
				<span>(share with your fans a secret they will have to unvell with likes)</span>
			</div>
		</div>
		<div class="row text-center">
			<div class="col">
				<a class="icon" href="#/tab/secret">
					<img src="img/album.png"/>
				</a>
			</div>
		</div><!-- /Secret -->
	</ion-content>
</ion-view>