<ion-view>
	<ion-nav-title>
		<h1 class="title">
			<span><strong>Feature</strong> menu</span>
		</h1>
	</ion-nav-title>
	<ion-nav-buttons side="left">
		<button class="button button-clear" ng-click="goBack()">
			<img src="img/left-btn.png" style="width: 30px" />
		</button>
	</ion-nav-buttons>
	<ion-content>
		<ion-list>
			<ion-toggle style="font-size: 12px"><strong>feature</strong> only with users which are on your scale</ion-toggle>
			<ion-item class="row text-center" style="padding: 0px; padding-top: 25px; border-style: none;background-color: #f7f7f7;">
				<div class="col col-20" style="padding: 0px">
					<img src="img/animal01.png" style="height: 50px" />
					<div style="background-color: #73acec;color: white; font-size: 9px; margin-top: -15px; padding-top: 10px;">
						<div>0-100</div>
						<div style="margin-top: -10px;margin-bottom: 10px;">followers</div>
					</div>
				</div>
				<div class="col col-20" style="padding: 0px">
					<img src="img/animal02.png" style="height: 50px" />
					<div style="background-color: #a1e580;color: white; font-size: 9px; margin-top: -15px; padding-top: 10px;">
						<div>100-1k</div>
						<div style="margin-top: -10px;">followers</div>
					</div>
				</div>
				<div class="col col-20" style="padding: 0px">
					<img src="img/animal03.png" style="height: 50px" />
					<div style="background-color: #75ce27;color: white; font-size: 9px; margin-top: -15px; padding-top: 10px;">
						<div>1k-10k</div>
						<div style="margin-top: -10px;">followers</div>
					</div>
				</div>
				<div class="col col-20" style="padding: 0px">
					<img src="img/animal04.png" style="height: 50px" />
					<div style="background-color: #ced255;color: white; font-size: 9px; margin-top: -15px; padding-top: 10px;">
						<div>10k-50k</div>
						<div style="margin-top: -10px;">followers</div>
					</div>
				</div>
				<div class="col col-20" style="padding: 0px">
					<img src="img/animal05.png" style="height: 50px" />
					<div style="background-color: #b2b713;color: white; font-size: 9px; margin-top: -15px; padding-top: 10px;">
						<div>50k-100k</div>
						<div style="margin-top: -10px;">followers</div>
					</div>
				</div>
			</ion-item>
			<ion-item class="row text-center" style="padding: 0px; padding-top: 2px; border-style: none;background-color: #f7f7f7;">
				<div class="col col-20"></div>
				<div class="col col-20">
					<img src="img/right-hand.png" style="height: 50px" />
				</div>
				<div class="col col-20"></div>
				<div class="col col-20"></div>
				<div class="col col-20"></div>
			</ion-item>
			<ion-item class="row text-center" style="padding: 0px; padding-top: 25px; border-style: none;background-color: #f7f7f7;">
				<div class="col col-20" style="padding: 0px">
					<img src="img/animal06.png" style="height: 50px" />
					<div style="background-color: #dfb42d;color: white; font-size: 9px; margin-top: -15px; padding-top: 10px;">
						<div>50k-100k</div>
						<div style="margin-top: -10px;margin-bottom: 10px;">followers</div>
					</div>
				</div>
				<div class="col col-20" style="padding: 0px">
					<img src="img/animal07.png" style="height: 50px" />
					<div style="background-color: #f76f40;color: white; font-size: 9px; margin-top: -15px; padding-top: 10px;">
						<div>100k-250k</div>
						<div style="margin-top: -10px;">followers</div>
					</div>
				</div>
				<div class="col col-20" style="padding: 0px">
					<img src="img/animal08.png" style="height: 50px" />
					<div style="background-color: #f55151;color: white; font-size: 9px; margin-top: -15px; padding-top: 10px;">
						<div>250k-500k</div>
						<div style="margin-top: -10px;">followers</div>
					</div>
				</div>
				<div class="col col-20" style="padding: 0px;position: relative;">
					<img src="img/coin.png" style="position: absolute; height: 34px; z-index: -10; margin: 0 auto;left: 0;right: 0;" />
					<div style="background-color: #ec2525;color: white; font-size: 9px; margin-top: 40px; padding-top: 10px;">
						<div>500k-1M</div>
						<div style="margin-top: -10px;">followers</div>
					</div>
				</div>
				<div class="col col-20" style="padding: 0px;position: relative;">
					<img src="img/animal10.png" style="position: absolute; height: 55px; z-index: -10; margin: 0 auto;left: 0;right: 0;" />
					<div style="background-color: #d80000;color: white; font-size: 9px; margin-top: 40px; padding-top: 10px;">
						<div>1M+</div>
						<div style="margin-top: -10px;">followers</div>
					</div>
				</div>
			</ion-item>
			<ion-item class="row text-center" style="padding: 0px; padding-top: 2px; border-style: none;background-color: #f7f7f7; height: 80px">
				<div class="col col-20"></div>
				<div class="col col-20"></div>
				<div class="col col-20"></div>
				<div class="col col-20"></div>
				<div class="col col-20"></div>
			</ion-item>
			<ion-toggle style="font-size: 12px" ng-checked="true">allow <strong>feature exchange&nbsp;</strong><i class="icon ion-ios-information-outline"></i></ion-toggle>
			<ion-toggle style="font-size: 12px"><strong>delete</strong> feature automatically when its done</ion-toggle>
			<ion-item class="item item-icon-right" href="#/tab/savedfeatures">
				saved <strong>Features</strong>
				<i class="icon ion-chevron-right icon-accessory" style="color:#aa83cd;"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>