<ion-view>
  	<ion-nav-title>
    	<h1 class="title">
      		<span><strong>secret</strong> menu</span>
    	</h1>
  	</ion-nav-title>
  	<ion-nav-buttons side="left">
		<button class="button button-clear" ng-click="goBack()">
			<img src="img/left-btn.png" style="width: 30px" />
		</button>
  	</ion-nav-buttons>
	<ion-content>
		<ion-toggle ng-checked="true" style="font-size: 13px;"><strong>Guess</strong> secret&nbsp;<i class="icon ion-ios-information-outline"></i></ion-toggle>
	</ion-content>
</ion-view>