<ion-view>
	<ion-nav-title>
		<h1 class="title">
			<img class="title-image" />&nbsp;
			<span style="vertical-align: super;">settings</span>
		</h1>
	</ion-nav-title>
	<ion-nav-buttons side="left">
		<button class="button button-clear" ng-click="goBack()">
			<img src="img/left-btn.png" style="width: 30px" />
		</button>
	</ion-nav-buttons>
	<ion-content>
		<div class="row text-center">
			<div class="col" style="font-size: 10px">invite to <img src="img/title.png" style="width: 45px; vertical-align: middle" /> (earn coins for each member joining through your invitation)</div>
		</div>
		<div class="row">
			<div class="col col-20"><img src="img/facebook.png" style="width: 50px;" /></div>
			<div class="col col-20"><img src="img/google.png" style="width: 50px;" /></div>
			<div class="col col-20"><img src="img/twitter.png" style="width: 50px;" /></div>
			<div class="col col-20"><img src="img/pinterest.png" style="width: 50px;" /></div>
			<div class="col col-20"><img src="img/snapchat.png" style="width: 50px;" /></div>
		</div>
		<div class="row text-center">
			<div class="col" style="font-size: 12px">or</div>
		</div>
		<div class="row text-center">
			<div class="col">
				<button class="button" style="background-color: #252525; color: white; font-style: italic;   line-height: 0px; min-height: 30px; padding: 1px 50px 1px 50px; font-weight: bold;">invite by sending invitation card</button>
			</div>
		</div>
		<div class="row">
			<div class="col">
				your friends here at <img src="img/title.png" style="width: 70px; vertical-align: middle;" />
			</div>
		</div>
		<div class="row text-center">
			<div class="col col-10">
				<img src="img/fb-square.png" style="width: 25px" />
			</div>
			<div class="col col-40" style="background: url(img/search-fb-btn.png) no-repeat;background-size: auto 25px;margin-top: 8px;">
			</div>
			<div class="col col-10">
				<img src="img/contact-person.png" style="width: 25px" />
			</div>
			<div class="col col-40" style="background: url(img/search-contact-btn.png) no-repeat;background-size: auto 25px;margin-top: 8px;">
			</div>
		</div>
		<ion-list>
			<ion-item class="item item-icon-right" href="#/tab/notificationmenu">
				Notifications
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
			<ion-item class="item item-icon-right" href="#/tab/sugapicmenu">
				Sugapic&nbsp;<img src="img/piece.png" style="width: 20px" />
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
			<ion-item class="item item-icon-right" href="#/tab/featuremenu">
				Feature&nbsp;<img src="img/feature-avatar.png" style="width: 20px" />
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
			<ion-item class="item item-icon-right" href="#/tab/secretmenu">
				Secret&nbsp;<img src="img/album.png" style="width: 20px" />
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
			<ion-item class="item item-icon-right">
				PrivateChic
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
			<ion-item class="item item-icon-right" href="#/tab/mywalletmenu">
				My wallet
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
			<ion-item class="item item-icon-right" href="#/tab/myaccountmenu">
				My account
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
			<ion-item class="item item-icon-right">
				About
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
			<ion-item class="item item-icon-right">
				Connect as a Donator
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>