<div>
	<div class="earned-item">
		<div class="period-wrap">
			<span class="period">Daily: 235<img src="img/coin.png" class="coin-icon"></span>
		</div>
		<div class="gifter-lbl-wrap">
			<span class="gifter-lbl">Top Gifters:</span>
		</div>
		<div class="gifters">
			<img src="img/gifter.png" class="gifter-img"/>
			<img src="img/gifter.png" class="gifter-img"/>
			<img src="img/gifter.png" class="gifter-img"/>
			<img src="img/gifter.png" class="gifter-img"/>
		</div>
	</div>
	<div class="earned-item">
		<div class="period-wrap">
			<span class="period">Weekly: 235<img src="img/coin.png" class="coin-icon"></span>
		</div>
		<div class="gifter-lbl-wrap">
			<span class="gifter-lbl">Top Gifters:</span>
		</div>
		<div class="gifters">
			<img src="img/gifter.png" class="gifter-img"/>
			<img src="img/gifter.png" class="gifter-img"/>
			<img src="img/gifter.png" class="gifter-img"/>
			<img src="img/gifter.png" class="gifter-img"/>
		</div>
	</div>
	<div class="earned-item">
		<div class="period-wrap">
			<span class="period">Monthly: 235<img src="img/coin.png" class="coin-icon"></span>
		</div>
		<div class="gifter-lbl-wrap">
			<span class="gifter-lbl">Top Gifters:</span>
		</div>
		<div class="gifters">
			<img src="img/gifter.png" class="gifter-img"/>
			<img src="img/gifter.png" class="gifter-img"/>
			<img src="img/gifter.png" class="gifter-img"/>
			<img src="img/gifter.png" class="gifter-img"/>
		</div>
	</div>
	<div class="earned-item">
		<div class="period-wrap">
			<span class="period">
				<span style="color:#99863b; font-size:18px;">Overall:</span> 235<img src="img/coin.png" class="coin-icon">
			</span>
		</div>
		<div class="gifter-lbl-wrap">
			<span class="gifter-lbl">Top Gifters:</span>
		</div>
		<div class="gifters">
			<img src="img/gifter.png" class="gifter-img"/>
			<img src="img/gifter.png" class="gifter-img"/>
			<img src="img/gifter.png" class="gifter-img"/>
			<img src="img/gifter.png" class="gifter-img"/>
		</div>
	</div>
	<div class="row" style="margin-top: 5px; height: 30px; border-top: 1px solid #afafaf;">
		<div class="col">Coins Saved: 235</div>
	</div>
	<div class="row text-center">
		<div class="col col-66">
			<button class="button cash-out-btn">Full Report & <span class="cash-out-lbl">Cash Out</span></button>
		</div>
		<div class="col col-34">
			<button class="button coins-ellipse-btn" ng-click="closeCoinsEarned()"><span class="ellipse-icon"></span></button>
		</div>
	</div>
</div>
