<div>
	<div class="row text-center">
		<div class="col col-25">
			<img src="img/get-coin1.png" class="coin-icon" />
			<p class="coin-val">500</p>
			<p class="dollar-val">2.5$</p>
		</div>
		<div class="col col-25">
			<img src="img/get-coin2.png" class="coin-icon" />
			<p class="coin-val">500</p>
			<p class="dollar-val">2.5$</p>
		</div>
		<div class="col col-25">
			<img src="img/get-coin3.png" class="coin-icon" />
			<p class="coin-val">500</p>
			<p class="dollar-val">2.5$</p>
		</div>
		<div class="col col-25">
			<img src="img/get-coin4.png" class="coin-icon" />
			<p class="coin-val">500</p>
			<p class="dollar-val">2.5$</p>
		</div>
	</div>
	<div class="row text-center">
		<div class="col col-25">
			<img src="img/get-coin5.png" class="coin-icon" />
			<p class="coin-val">500</p>
			<p class="dollar-val">2.5$</p>
		</div>
		<div class="col col-25">
			<img src="img/get-coin6.png" class="coin-icon" />
			<p class="coin-val">500</p>
			<p class="dollar-val">2.5$</p>
		</div>
		<div class="col col-25">
			<img src="img/get-coin7.png" class="coin-icon" />
			<p class="coin-val">500</p>
			<p class="dollar-val">2.5$</p>
		</div>
		<div class="col col-25">
			<img src="img/get-coin8.png" class="coin-icon" />
			<p class="coin-val">500</p>
			<p class="dollar-val">2.5$</p>
		</div>
	</div>
	<div class="row" style="margin-top: 5px; height: 30px; border-top: 1px solid #afafaf;">
		<div class="col">
		</div>
	</div>
	<div class="row text-center">
		<div class="col col-66">
		</div>
		<div class="col col-34">
			<button class="button coins-ellipse-btn" ng-click="closeGetCoins()"><span class="ellipse-icon"></span></button>
		</div>
	</div>
</div>
