<div style="text-align: center; background-color: #cc1954; color: white; padding: 2px; font-size: 12px; font-weight: bold;">
	you are about to own a new sugapic of
</div>
<div class="row" style="box-shadow: #b8b5b2 1px 2px 1px 1px; padding: 0px">
	<div class="col col-67 text-right">
		<img src="img/user-avatar01.png" style="width: 50px; vertical-align: middle;" />
		<span style="font-weight: bold">Mrina Blumberg</span>
	</div>
	<div class="col col-33 text-center" style="line-height: 8px;">
		<img src="img/coins.png" style="width: 30px" />
		<div style="font-size: 10px">25 coins</div>
	</div>
</div>
<div class="row text-center">
	<div class="col" style="font-size: 11px;">
		where would you like your owner pic will link to
	</div>
</div>
<div style="text-align: center; background-color: #978d1e; color: white; padding: 2px; font-size: 12px; font-weight: bold;">
	Personal
</div>
<div class="row" style="padding: 0px">
	<div class="col col-10" style="align-self: center;">
		<div class="mycheckbox">
		    <input type="checkbox" name="useful" id="useful" />
		    <label for="useful">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
		</div>
	</div>
	<div class="col col-90">
		<img src="img/image01.png" style="width: 70px; height: 50px; vertical-align: middle; border-radius: 10px;" />
		<span style="font-weight: bold">&nbsp;&nbsp;my own profile page</span>
	</div>
</div>
<div style="text-align: center; background-color: #1963ae; color: white; padding: 2px; font-size: 12px; font-weight: bold;">
	Commercial
</div>
<div class="row text-center" style="padding: 0px">
	<div class="col" style="padding: 0px; font-size: 10px">a link to my webpage</div>
</div>
<div class="row" style="padding: 0px">
	<div class="col col-10" style="align-self: center;">
		<div class="mycheckbox">
		    <input type="checkbox" name="useful" id="useful1" />
		    <label for="useful1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
		</div>
	</div>
	<div class="col col-90">
		<input type="text" placeholder="http://" style="width: 100%; background-color: transparent; border-bottom: 1px solid #d9d9d9">
	</div>
</div>
<div class="row text-center">
	<div class="col">
		<button class="button" style="width: 100%; background-color: #161616; color: white; min-height: 20px; height: 35px; line-height: 0px;" ng-click="closePostPurchase()">own</button>
	</div>
</div>