<div>
	<div class="row">
		<div class="col col-50" style="position: relative;">
			<h2 class="amount">127</h2>
			<button class="button get-coins-btn" ng-click="openGetCoins()">Get Coins</button>
		</div>
		<div class="col col-50">
			<img src="img/coins-total.png" class="coins-total-img" />
		</div>
	</div>
	<div class="row" style="margin-top: 5px; height: 30px; border-top: 1px solid #afafaf;">
		<div class="col">
		</div>
	</div>
	<div class="row text-center">
		<div class="col col-66">
			<button class="button coins-earned-btn" ng-click="openCoinsEarned()"><span class="get-money-icon"></span>Coins Earned</button>
		</div>
		<div class="col col-34">
			<button class="button coins-ellipse-btn" ng-click="closeTotalCoins()"><span class="ellipse-icon"></span></button>
		</div>
	</div>
</div>
