<div>
	<div class="row text-center">
		<div class="col">
			<h1 class="congrats-title">Congratulations!</h1>
			<img src="img/red-close-icon.png" class="red-close-icon" ng-click="closeWonFeature()" />
		</div>
	</div>
	<div class="row text-center ">
		<div class="col">
			<span style="font-size: 18px;opacity: .6;">You won a <span class="feature-lbl">Feature</span> at</span>
		</div>
	</div>
	<div class="row text-center ">
		<div class="col">
			<img src="img/user-avatar01.png" style="width: 110px;" />
		</div>
	</div>
	<div class="row text-center" style="background-color: #ffffff;padding-bottom:0;">
		<div class="col">
			<span style="font-family: arial;font-size: 18px;opacity: .6;">MarinaBlumberg</span>
		</div>
	</div>
	<div class="row" style="margin-top: 10px;">
		<div class="col">
			<button class="button choose-post-btn" ng-click="openChoosePost()">Choose post!</button>
		</div>
		<div class="col-offset-10"></div>
		<div class="col">
			<button class="button save-later-btn" ng-click="saveFeatureLater()">Save for later</button>
		</div>
	</div>
</div>
