<ion-view view-title="Sign-Up" hide-nav-bar="true">
  <ion-content style="background-color: #ff1414">
    <div class="row text-center" style="margin-top: 20px">
      <div class="col text-center">
        <img src="img/signup-logo.png" style="width: 50px; vertical-align: middle;" /><span style="color: white; font-weight: bold; vertical-align: middle;">sign up with</span>
      </div>
    </div>
    <div class="row text-center">
      <div class="col text-center">
        <span style="color: white; font-weight: bold; vertical-align: middle; background-color: #ff9900;
    border-radius: 10px; padding: 5px 20px 5px 20px;">your Email</span>
        <img src="img/signup-email.png" style="width: 50px; vertical-align: middle;"/>
      </div>
    </div>
    <div class="row text-center">
      <div class="col text-center">
        <input type="text" style="width: 100%; box-shadow: inset grey 1px 1px 1px 1px;" />
      </div>
    </div>
    <div class="row text-center">
      <div class="col text-center">
        <button class="button" style="min-height: 30px; height: 30px; line-height: 0px; padding: 5px 50px 5px 50px;
    border-radius: 10px; color: white; font-weight: bold; background: linear-gradient(to top right, #dd1500, #e32e00, #fd9300, #ff9900); box-shadow: #cb1010 -1px -1px 1px 1px; border-style: none;">send</button>
      </div>
    </div>
    <div class="row text-center" style="border-top: 1px solid #ff4747; border-bottom: 1px solid #ff4747; margin-top: 30px; margin-bottom: 30px">
      <div class="col text-center" style="color: white; font-weight: bold">
        or
      </div>
    </div>
    <div class="row text-center">
      <div class="col text-center">
        <span style="color: white; font-weight: bold; vertical-align: middle; background-color: #b20888;
    border-radius: 10px; padding: 5px 20px 5px 20px;">your phone</span>
        <img src="img/signup-phone.png" style="width: 50px; vertical-align: middle;"/>
      </div>
    </div>
    <div class="row text-center">
      <div class="col col-20 text-center">
        <input type="text" style="width: 100%; box-shadow: inset grey 1px 1px 1px 1px; text-align: center; font-weight: bold" value="+972"/>
      </div>
      <div class="col col-80 text-center">
        <input type="text" style="width: 100%; box-shadow: inset grey 1px 1px 1px 1px;" />
      </div>
    </div>
    <div class="row text-center">
      <div class="col text-center">
        <button class="button" style="min-height: 30px; height: 30px; line-height: 0px; padding: 5px 50px 5px 50px;
    border-radius: 10px; color: white; font-weight: bold; background: linear-gradient(to top right, #dd1500, #e32e00, #b70979, #b20888); box-shadow: #cb1010 -1px -1px 1px 1px; border-style: none;">send</button>
      </div>
    </div>
    <div class="row text-center">
      <div class="col text-center" style="color: white; font-weight: bold">
        Already have account? <a href="#/signin">Sign in</a>
      </div>
    </div>
  </ion-content>
</ion-view>