<div>
	<div class="row text-center">
		<div class="col">
			<img src="img/user-avatar01.png" class="user-avatar">
			<h1 class="user-name">{{feature_user}}</h1>
			<img src="img/pink-close-icon.png" class="pink-close-icon" ng-click="closeWaitingList()">
		</div>
	</div>
	<div class="row text-center" style="margin-bottom: 15px;">
		<div class="col">can't have your <span class="feature-lbl">Feature</span> now</div>
	</div>
	<div class="row text-center">
		<div class="col">
			<button class="button add-waiting-btn" ng-click="addWaitingList()">Add To Waiting List</button>
		</div>
	</div>
</div>
