<div ng-click="closePersonalCard()">
	<div class="row text-center">
		<div class="col">
			<div style="font-weight: bold">my social</div>
		</div>
	</div>
	<div class="row text-center">
		<div class="col col-20">
			<img src="img/facebook.png" style="width: 35px" />
		</div>
		<div class="col col-20">
			<img src="img/google.png" style="width: 35px"/>
		</div>
		<div class="col col-20">
			<img src="img/twitter.png" style="width: 35px"/>
		</div>
		<div class="col col-20">
			<img src="img/pinterest.png" style="width: 35px"/>
		</div>
		<div class="col col-20">
			<img src="img/snapchat.png" style="width: 35px"/>
		</div>
	</div>
	<div class="row text-center">
		<div class="col">
			<div style="font-weight: bold">about me</div>
		</div>
	</div>
	<div class="row">
		<div class="col" style="font-size: 11px; padding: 15px; line-height: 15px">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut laborre et dolore mangna aliqna. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alquip pexea commodo consequat. Duis aute irure dolor in
		</div>
	</div>
	<div class="row text-center">
		<div class="col">
			<div style="font-weight: bold">my website</div>
			<div><a href="http://www.sugachic.com">www.sugachic.com</a>
			</div>
		</div>
	</div>
	<div class="row text-center" style="margin-bottom: 55px">
		<div class="col">
			<div style="font-weight: bold">my phone</div>
			<div>office: <span style="color: #55acee">0719580880</span></div>
			<div>personal: <span style="color: #55acee">0116490484</span></div>
		</div>
	</div>
</div>
