<ion-view class="profile-page" view-title="Sugachic Profile" hide-nav-bar="true">
  <div class="bar" style="height: auto; display: block; padding: 0px; margin-top:5px;border-bottom: 1px solid #dfdfdf;">
		<div ng-if="category_view == false" class="text-center" style="position: relative; overflow: hidden;">
			<div class="row">
				<div class="col col-30">
					<div class="row" style="height: 50px">
						<div class="col" style="margin-left: -20px">
							<div style="font-weight: bold; font-size: 23px; color: #252525">{{user.fans}}</div>
							<div style="font-weight: bold; color: #888888; font-size: 11px">Fans</div>
						</div>
					</div>
					<div class="row" style="height: 45px"></div>
					<div class="row">
						<div class="col" style="margin-left: -80px">
							<div style="font-weight: bold; font-size: 23px; color: #252525">{{user.following}}</div>
							<div style="font-weight: bold; color: #888888; font-size: 11px">Following</div>
						</div>
					</div>
				</div>
				<div class="col col-33" style="margin-top: 0px">
					<img src="img/top-mark.png" style="top: 0px;width:18px;position: absolute;left: calc(50% - 9px)">
					<img src="img/user-avatar01.png" style="position: relative; width: 120px; top: 55px; z-index: 999" ng-click="removeFlag()"/>
					<!-- <div class="icon-wrapper"> -->
						<div class="icons" style="transform: rotate({{current_deg}}deg);">
							<div class="wheel" ng-click="circular_move(0)">
								<p class="wheel-tag" ng-click="getPosts('all')" style="transform: rotate({{current_deg*(-1)}}deg);background-color: {{category_colors[0]}}">all</p>
							</div>
							<div class="wheel" ng-click="circular_move(1)">
								<p class="wheel-tag" ng-click="getPosts('sugapic')" style="transform: rotate({{current_deg*(-1)}}deg); background-color: {{category_colors[1]}}">sugapic</p>
							</div>
							<div class="wheel" ng-click="circular_move(2)">
								<p class="wheel-tag" ng-click="getPosts('secret')" style="transform: rotate({{current_deg*(-1)}}deg);background-color: {{category_colors[2]}}">Secret</p>
							</div>
							<div ng-repeat="(index, item) in categories" class="wheel" ng-click="circular_move(index + 3)">
								<p class="wheel-tag" ng-click="getPosts(item.category)" style="transform: rotate({{current_deg*(-1)}}deg);background-color: {{category_colors[index + 3]}}; font-size: {{(6/item.category.length)*11}}px;">{{item.category}}</p>
							</div>
							<div ng-repeat="(index, item) in rest_categories" class="wheel" ng-click="circular_move(index + category_num + 3)">
								<p class="wheel-tag wheel-tag-add" style="transform: rotate({{current_deg*(-1)}}deg);"></p>
							</div>
						</div>
				</div>
				<div class="col col-30" style="padding: 0px">
					<div class="row" style="height: 175px">
						<div class="col text-right">
							<img src="img/search.png" class="show-search" ng-click="openSearch()">
							<img src="img/menu.png" class="show-menu" ng-click="openSetting()">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" ng-if="category_view == false" style="padding: 0">
			<div class="col col-30"></div>
			<div class="col col-33 text-center"  style="padding: 0">
				<div class="" style="white-space: nowrap;">
						<span style="font-size: 12px; font-weight: bold; display: inline-block;">{{user.username}}</span>
						<div class="" style="display: inline-block; vertical-align: middle;">
							<div style="color: #989898; font-size: 20px;">
								<i class="icon ion-ios-people"></i>
							</div>
							<div style="margin-top: -10px; font-size: 25px">
								<i class="icon ion-arrow-down-b"></i>
							</div>
						</div>
					</div>
			</div>
			<div class="col col-30"  style="padding: 0">
				<div class="row text-right">
						<div class="col">
							<div ng-if="user" style="font-size: 23px; font-weight: bold; color: #bfb68e;">{{user.networth}}</div>
							<div style="font-size: 11px; font-weight: bold; color: #888888;">
								<img src="img/coins.png" style="width: 15px; margin-right: 5px;" />NetWorth</div>
						</div>
					</div>
			</div>
		</div>
		<div ng-if="category_view == true" class="row text-center" style="background: url(img/user-avatar01.png) no-repeat; background-size: contain; background-position: center; margin-top: 10px; margin-bottom: 10px">
			<div class="col col-10" style="padding: 0px; line-height: 11px; margin-top: 5px;">
				<div style="font-weight: bold; font-size: 16px; color: #252525">{{user.fans}}</div>
				<div style="font-weight: bold; color: #888888; font-size: 9px">Fans</div>
			</div>
			<div class="col col-20" style="padding: 0px; line-height: 11px; margin-left: -10px; margin-top: 5px;">
				<div style="font-weight: bold; font-size: 16px; color: #252525">{{user.following}}</div>
				<div style="font-weight: bold; color: #888888; font-size: 9px">Following</div>
			</div>
			<div class="col col-20" style="padding: 0px; line-height: 11px; background: url(img/coins.png) no-repeat; background-size: auto 16px; background-position: right; margin-left: -25px; margin-top: 5px;">
				<div style="font-size: 16px; font-weight: bold; color: #bfb68e;">{{user.networth}}</div>
				<div style="font-size: 9px; font-weight: bold; color: #888888;">NetWorth</div>
			</div>
			<div class="col col-20" style="padding: 0px; line-height: 11px;">
			</div>
			<div class="col col-30" style="padding: 0px; line-height: 11px; margin-top: 10px;">
				<span style="font-size: 12px; font-weight: bold">{{user.username}}</span>
			</div>
			<div class="col col-10" style="padding: 0px; line-height: 11px;">
				<div style="color: #989898; font-size: 20px;"><i class="icon ion-ios-people"></i></div>
				<div style="margin-top: -10px; font-size: 25px"><i class="icon ion-arrow-down-b"></i></div>
			</div>
		</div>
		<div class="row text-center button-wrap">
			<div class="col col-33" style="padding: 7px 0;">
				<button class="button button-dark" style="width: 100%; border-radius: 0px;" ng-click="openPersonalCard()">Personal Card</button>
			</div>
			<div class="col col-40" style="max-width:37%;padding: 17px 5px 0;">
				<span style="font-size: 12px;">category view</span>
				<span ng-click="onClickCategoryView()">
					<img ng-if="category_view == false" src="img/switch.png" style="width: 50px; vertical-align: middle;" />
					<img ng-if="category_view == true" src="img/switch-on.png" style="width: 50px; vertical-align: middle;" />
				</span>
			</div>
			<div class="col col-33" style="max-width:28%;">
				<img class="people-btn" src="img/user-group.png" ng-click="goToTopPurchasers()" />&nbsp;
				<img class="message-btn" src="img/message-box.png" ng-click="goToChat()" />
			</div>
		</div>
	</div>
	
	<ion-content ng-class="category_view? 'hidden-category-view': 'show-category-view'">
		<div ng-if="all_posts.length > 0">
			<div class="post-header" style="height: auto; display: block; padding: 0px;">
				<div class="row">
					<div class="col">
						<span style="font-weight: bold; color: #868686">Posts:
							<strong ng-if="posts_mode=='all'" style="color: black">{{total}}</strong>
							<strong ng-if="posts_mode=='suga'" style="color: black">4</strong>
							<strong ng-if="posts_mode=='secret'" style="color: black">1</strong>
						</span>
					</div>
				</div>
			</div>
			<div ng-if="category_view==false">
				<div ng-repeat="(row_index, row_data) in all_posts" class="row" style="margin-top: 0px;">
					<div ng-repeat="(col_index, item) in row_data" class="col col-33 post-item" id="{{row_index * 3 + col_index + 1}}" type="0" post-clicks >
						<img ng-if="item.post_type != 1" class="post-item-pic" src="img/girl01.png">
						<div ng-if="item.post_type == 2" >
							<img class="sugapic-mark" src="img/suga-mark.png" />
							<img class="sugapic-headline" src="img/sugapic-mark.png" />
						</div>
						<div ng-if="item.post_type == 1" >
							<span class="secret-lbl">Secret</span>
							<img class="secret-img" src="img/secret-pic.png" />
							<span class="secret-headline">{{item.headline}}</span>
							<!-- <span class="secret-headline">When was my first kiss...</span> -->
						</div>
					</div>
				</div>
			</div>
			<div ng-if="category_view==true">
				<div ng-repeat="(category_index, category) in category_posts" class="tag">
					<span class="category_view_title" style="background: {{category_colors[category_index]}}">{{category.category_name}}</span>					
					<div ng-repeat="(row_index, row_data) in category.posts" class="row" style="margin-top: 0px;">
						<div ng-repeat="(col_index, item) in row_data" class="col col-33 post-item" id="{{row_index * 3 + col_index + 1}}" type="0" post-clicks >
							<img ng-if="item.post_type != 1" class="post-item-pic" src="img/girl01.png">
							<div ng-if="item.post_type == 2" >
								<img class="sugapic-mark" src="img/suga-mark.png" />
								<img class="sugapic-headline" src="img/sugapic-mark.png" />
							</div>
							<div ng-if="item.post_type == 1" >
								<span class="secret-lbl">Secret</span>
								<img class="secret-img" src="img/secret-pic.png" />
								<span class="secret-headline">{{item.headline}}</span>
								<!-- <span class="secret-headline">When was my first kiss...</span> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div ng-if="category_view==true && posts_mode == 'suga'" ng-click="goToMainProfile()">
				<div class="row tag">
					<span style="background-color: #252525; color: white; padding: 0px 25px; font-size: 12px;border-radius: 5px;">all</span>
				</div>
				<div class="row" style="margin-top: 10px;">
					<div class="col col-33 post-item" id="1" post-clicks style="background-image: url(img/girl01.png);">
						<img class="sugapic-mark" src="img/suga-mark.png" />
						<img class="sugapic-headline" src="img/sugapic-mark.png" />
					</div>
				</div>
				<div class="row tag" style="margin-top: 5px; margin-bottom: 5px">
					<span style="background-color: #488934; color: white; padding: 0px 25px; font-size: 12px;border-radius: 5px;">evening</span>
				</div>
				<div class="row" style="margin-top: 0px;">
					<div class="col col-33 post-item" id="2" post-clicks style="background-image: url(img/girl01.png);">
						<img class="sugapic-mark" src="img/suga-mark.png" />
						<img class="sugapic-headline" src="img/sugapic-mark.png" />
					</div>
					<div class="col col-33 post-item" id="3" post-clicks style="background-image: url(img/girl01.png);">
						<img class="sugapic-mark" src="img/suga-mark.png" />
						<img class="sugapic-headline" src="img/sugapic-mark.png" />
					</div>
				</div>
				<div class="row tag" style="margin-top: 5px; margin-bottom: 5px">
					<span style="background-color: #e1bd50; color: white; padding: 0px 25px; font-size: 12px;border-radius: 5px;">beach</span>
				</div>
				<div class="row" style="margin-top: 0px;">
					<div class="col col-33 post-item" id="4" post-clicks style="background-image: url(img/girl01.png);">
						<img class="sugapic-mark" src="img/suga-mark.png" />
						<img class="sugapic-headline" src="img/sugapic-mark.png" />
					</div>
				</div>
			</div>
			<div ng-if="posts_mode == 'secret'" ng-click="goToMainProfile()">
				<div class="row" style="margin-top: 10px;">
					<div class="col col-33 post-item post-secret" id="3" type="2" post-clicks>
						<span class="secret-lbl">Secret</span>
						<img class="secret-img" src="img/secret-pic.png" />
						<span class="secret-headline">When was my first kiss...</span>
					</div>
				</div>
			</div> -->
		</div>
		<div ng-if="all_posts.length == 0" style="display: block">
			<div class="row text-center">
				<div class="col" style="margin-top: 70px;">
					<span style="font-size: 14px; font-weight: 600;">Welcome to your <strong style="font-size: 15px">Profile page</strong></span>
				</div>
			</div>
			<div class="row text-center" style="position: relative;">
				<div class="col" style="margin-top: 30px;">
					<img src="img/s_icon.png" style="position: absolute; top: 15px; width: 100px; left: calc(50% - 50px);">
					<p style="font-size: 12px;font-weight: bold;margin: 0 auto;width: 85%;line-height: 15px;">
						Upload pics and secrets. Set by your favorites categories.
						Add your personal card and edit your profile. This is where youl show your content with sugachic amazing view. 
					</p>
				</div>
			</div>
			<div class="row text-center">
				<div class="col" style="margin-top: 30px;">
					<span style="font-size: 15px; font-weight: bold"><span style="color: #e54978">Upload</span> your first pic</span>
				</div>
			</div>'
			<div class="row text-center">
				<div class="col" style="margin-top: 20px;">
					<img src="img/arrow-down.png" style="">
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>